.tabBox {
	height: 260px;
	overflow-y: scroll;
}

.tabBox ol {
	height: 100%;
	overflow-y: auto;
}

.CodeMirror {
	height: 100%;
	overflow-y:auto;
}

.historyCommand {
	font-weight: bold;
}

/* file tab's dependency chooser */
.fileTab select {
	width: 100%;
}
