.tabBox {
	height: 260px;
	overflow-y: scroll;
}

.tabBox ol {
	height: 100%;
	overflow-y: auto;
}

.CodeMirror {
	height: 100%;
	overflow-y:auto;
}

.historyCommand {
	font-weight: bold;
}

/* be in one line with the input element */
.tabBox label {
	display: inline;
}

/* file tab's dependency chooser */
.ms-container {
	width: 100%;
}