.tabBox {
	height: 260px;
}

.tabBox ol {
	height: 100%;
	overflow-y: auto;
}

.CodeMirror {
	height: 100%;
	overflow-y:auto;
}

.historyCommand {
	font-weight: bold;
}

/* be in one line with the input element */
.tabBox label {
	display: inline;
}